<div class="container">

  <div class="photo">
  </div>

  <input type="text"
         autocomplete="off"
         class="name"
         name="name"
         placeholder="Enter your name" />

  <ul class="autocomplete">
  </ul>

  <div class="clearfix"></div>

  <a href="#" class="submit">&#10003; Sign In</a>

</div>
